<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
        
        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo sed perferendis in dolorum, sit quod error impedit nobis omnis excepturi quasi praesentium iste maiores doloribus accusamus! Sequi accusamus hic odit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nesciunt ducimus fuga. Consectetur magnam quod magni cupiditate aut commodi necessitatibus numquam laudantium quasi sapiente, corporis deleniti doloremque, repudiandae voluptatibus alias.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi deleniti rerum magni veniam modi ducimus explicabo consequatur nostrum illo aliquam nesciunt facere voluptatum aperiam maxime similique pariatur asperiores, illum impedit!</p>
        </div>

        <%- include('./partials/footer.ejs') %>
        
    </body>
</html>